%h1= t("Editing project")

= render 'form'

= link_to(@project, class: 'btn btn-default') do
  %i.fa.fa-list
  =t :show
= link_to(projects_path, class: 'btn btn-default') do
  %i.fa.fa-chevron-left
  =t :back
